body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0b1f17;
}

.mp-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background:#0b1f17;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
  color: white;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
}
.styled-table th{
    color: goldenrod;
    font-size: 16px;
}

.styled-table thead {
  background-color: #043927;
  color: white;
}

.styled-table tr:hover {
  background-color: #043927;
  transition: 0.3s;
}



    .popup {
      display: none;
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      padding: 5px;
    }

    .popup img {
      width: 100px;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    .socil-imgg img{
      max-width: 100%;
      border-radius: 10px;
      border: 3px solid goldenrod;
    }

@media (max-width: 600px) {
  .styled-table th, .styled-table td {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 428px) {
  .styled-table th, .styled-table td {
    font-size: 12px;
    padding: 8px;
  }
}
@media (max-width: 360px) {
  .styled-table th, .styled-table td {
    font-size: 10px;
    padding: 8px;
  }
}